 /* Menu princiapl */
 
 #MenuPrincipal ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
#MenuPrincipal a {
    text-decoration: none;
    color: blue;
}

/* Menu de caminho */

#MenuPath ul {
    list-style: none;
    display: flex;
    align-items: center;
}
#MenuPath ul li {
    margin: 1%;
}

 /* Area de rodape */

 #Rodape {
    background-color: black;
}
#Rodape a {
    text-decoration: none;
    color: lightgray;
}
#BlocoNavegacao {
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 1%;
} 
#BlocoNavegacao ul {
    list-style: none;
}
#redesEpagamentos {
    background-color: white;
    border-style: dashed;
    border-width: 1px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.redeSocial, .cartaoPagamento {
    display: flex;
}
.redeSocial img, .cartaoPagamento img {
    height: 15px;
    width: auto;
    margin: 2%;
}
h2{
    display: flex;
    justify-content: flex-end;

}
h3{
    display: flex;
    justify-content: flex-end;

}
h4{
    display: flex;
    justify-content: end;

   


}
.caixa{
    display: flex;
    background-color:gray;
    padding: 70px;
    color: beige;
    flex-direction: column;
    width: 100px;
    float: right;


}
.button{
    position:relative;
    right: 50px;
    display: flex;
    justify-content:left;
    flex-direction:column-reverse;
    align-items:left;
    background-color: yellow;
    width: 200px;
    height: 40px;
    margin: 10px;



}